@import "~bootstrap";
@import '~rc-time-picker/assets/index.css';
@import './datepicker';

body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto";
}

#root {
  height: 100%;
}

.map {
  width: 75vw;
  height: 90vh;
}

.legend {
  position: absolute;
  min-width: 200px
}
